.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  width: 100%;
  margin: 0px auto;
  max-width: 340px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.homepage{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0px auto;
  max-width: 340px;
  background-image: linear-gradient(153deg, #712bda, #a45deb 100%);
  padding: 30px 26px 20px 26px;
  box-sizing: border-box;
  

}

.homepage .logo{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 30px; */
}

.input{
  height: 40px;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 13px;
  box-sizing: border-box;
  border-color: transparent;
  border-width: 0px;
  outline: none;
  margin-bottom: 15px;
  text-align: center;
}

.button-search{
  height: 40px;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 13px;
  box-sizing: border-box;
  border-color: transparent;
  border-width: 0px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5;
}

.button-search.button-modal{
  background-image: linear-gradient(153deg, #712bda, #a45deb 100%);
}

.result-page{
  background-color: #f8fafc;
  height: 100vh;
  position: relative;
  text-align: center;
}

.result-page .result-header{
  padding: 15px;
  position:fixed;
  top: 0;
  width: 100%;
  max-width: 340px;
  background-image: linear-gradient(153deg, #712bda, #a45deb 100%);
height: 43px;
box-sizing: border-box;
z-index:2;

}

.result-header:after{
  content: "";
  position: absolute;
  height: 28px;
  left: 0%;
  right: 0%;
  border-radius: 45%;
  bottom: -11px;
  z-index: -1;
  /* background: #fff; */
  background-image: linear-gradient(153deg, #712bda, #a45deb 100%);
  box-shadow: 0 0 2px 0 rgba(148, 77, 230, 0.75);
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-page .result-list{
  padding: 60px 15px 28px 15px;
}

.result-list-item{
  padding: 12px 12px 11px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;

}

.result-list-item .item-wrapper{
  display: flex;
}

.player-track img{
  border-radius: 10px;
}

.player-track .audio-wrapper{
  position: relative;
}

.player-icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.info-track{
  width: calc(100% - 100px);
  padding-left: 12px;
  box-sizing: border-box;
  font-size: 14px;
  color: #334155;
  font-weight: 500;
  text-align: left;

}

.artist-name{
  font-size: 10px !important;
  font-weight: 500;
  margin-bottom: 5px;
}

.track-name{
  height:60%;
}

.extra-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genre-section{
  padding: 5px 13px 4px;
  border-radius: 10px;
  background-color: #10b981;
  box-sizing: border-box;
  font-size: 10px !important;
  color: #fff;
  
}

.price-section{
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.43px;
  color: #f5b014;
  display: flex;
  align-items: center;
}

.price-section .icon{
  margin-right: 6px;
}

.more{
  color: #64748b;
  font-size: 12px;
  font-weight: 600;
  border-radius: 17px;
  background-color: #e2e8f0;
  padding: 10px 29px;
  box-sizing: border-box;
  border-color: transparent;
  border-width: 0px;
  outline: none;
}

.header-text{
  font-size: 14px;
  color: #334155;
  padding-top: 39px;
  padding-bottom: 38px;
}

.text-result{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  color: #7b34dd;
}

.modal{
  background-color: rgba(28, 28, 45, 0.0);
	position: fixed;
	width: 100%; 
  height: 100%;
	max-width : 340px;
	max-height : 100%;
  margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items : center;
	transition : opacity 0.5s;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal.bold{
  background-color: rgba(28, 28, 45, 0.9);
  transition: opacity 0.5s;
}

.modal-overlay{
	position : absolute;
	width : 100%;
	height : 100%;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 28px;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
}

.loading-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
}

.loading-center img{
  width: 150px
}